.container {
  margin: 10px auto;
  box-shadow: 0px 0px 8px hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
}

.container__header {
  font-size: 20px;
  border-bottom: 2px solid hsl(0, 0%, 90%);
  padding: 20px;
  margin: 0;
}

.container__body {
  padding: 20px;
  }